body {
  background: #121212;
  color: white;
  font-family: Arial;
  text-align: center;
}

#crypto-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.crypto-card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px black;
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}

img {
  width: 50px;
}
